# STOCK MARKET ANALYSIS

# DATA CLEANING

In [19]:
import numpy as np
import pandas as pd
import math

In [20]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# IMPORTING EXCEL FILE IN JUPYTER NOTEBOOK

In [21]:
path = r'C:\Users\Kirti Bohra\OneDrive\Desktop\Stock Market Analysis\nifty_500.xlsx'
stock = pd.read_excel(path)

In [22]:
stock.head(10)

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
0,3M India Ltd.,3MINDIA,Diversified,EQ,21950.00,21999.00,21126.05,21854.05,21575.00,-279.05,-1.28,4159,8.965357e+07,27800.00,17273.00,-10.18,8.22
1,Aarti Drugs Ltd.,AARTIDRUGS,Healthcare,EQ,400.50,401.80,394.10,403.85,400.00,-3.85,-0.95,31782,1.262731e+07,749.75,378.00,-42.92,-5.10
2,Aavas Financiers Ltd.,AAVAS,Financial Services,EQ,1997.10,2004.05,1894.50,2015.45,1943.15,-72.3,-3.59,150704,2.907728e+08,3340.00,1815.00,-25.69,-9.39
3,ABB India Ltd.,ABB,Capital Goods,EQ,2260.35,2311.50,2260.35,2300.90,2280.00,-20.9,-0.91,97053,2.210935e+08,2487.85,1618.05,27.25,-5.21
4,Abbott India Ltd.,ABBOTINDIA,Healthcare,EQ,18700.40,19200.00,18605.00,18760.40,19199.80,439.4,2.34,12396,2.346770e+08,23934.45,15514.00,11.61,5.84
5,Aditya Birla Capital Ltd.,ABCAPITAL,Financial Services,EQ,89.00,90.60,88.35,89.40,90.25,0.85,0.95,2401323,2.151826e+08,139.20,85.60,-23.75,-11.57
6,Aditya Birla Fashion and Retail Ltd.,ABFRL,Consumer Services,EQ,235.60,243.50,235.60,237.05,242.20,5.15,2.17,1014277,2.435482e+08,322.00,189.35,9.87,-12.62
7,Aditya Birla Sun Life AMC Ltd.,ABSLAMC,Financial Services,EQ,400.05,406.70,400.00,400.05,405.90,5.85,1.46,34489,1.390183e+07,722.90,375.00,NaN,-5.09
8,ACC Ltd.,ACC,Construction Materials,EQ,2122.95,2174.00,2122.95,2121.95,2171.70,49.75,2.34,284645,6.136206e+08,2589.00,1900.00,5.32,-3.48
9,Adani Enterprises Ltd.,ADANIENT,Metals & Mining,EQ,2189.90,2242.00,2138.25,2190.90,2229.25,38.35,1.75,2141743,4.695579e+09,2420.95,1332.75,45.33,1.08

In [23]:
stock.shape

(501, 17)

# CHECKING THE PERCENTAGE OF NULL VALUES

In [24]:
stock.isnull().sum()/501*100

Company Name                 0.000000
Symbol                       0.000000
Industry                     0.000000
Series                       0.000000
Open                         0.000000
High                         0.000000
Low                          0.000000
Previous Close               0.000000
Last Traded Price            0.000000
Change                       0.000000
Percentage Change            0.000000
Share Volume                 0.000000
Value (Indian Rupee)         0.000000
52 Week High                 0.000000
52 Week Low                  0.000000
365 Day Percentage Change    8.782435
30 Day Percentage Change     0.598802
dtype: float64

# FILLING NULL VALUES IN "365 Day Percentage Change" WITH ITS MEDIAN

In [25]:
stock['365 Day Percentage Change'].median()

-11.06

In [26]:
stock['365 Day Percentage Change'].fillna(-11.06,inplace=True)

In [27]:
stock['365 Day Percentage Change'].isnull().sum()

0

# FILLING NULL VALUES IN "30 Day Percentage Change" WITH ITS MEDIAN

In [28]:
stock['30 Day Percentage Change'].median()

-6.01

In [29]:
stock['30 Day Percentage Change'].fillna(-6.01,inplace=True)

In [30]:
stock['30 Day Percentage Change'].isnull().sum()

0

# AGAIN CHECKING THE PERCENTAGE OF NULL VALUES

In [31]:
stock.isnull().sum()/501*100

Company Name                 0.0
Symbol                       0.0
Industry                     0.0
Series                       0.0
Open                         0.0
High                         0.0
Low                          0.0
Previous Close               0.0
Last Traded Price            0.0
Change                       0.0
Percentage Change            0.0
Share Volume                 0.0
Value (Indian Rupee)         0.0
52 Week High                 0.0
52 Week Low                  0.0
365 Day Percentage Change    0.0
30 Day Percentage Change     0.0
dtype: float64

# THE DATA IS CLEANED AND READY FOR ANALYSIS!
# SAVING CLEANED DATASET INTO LOCAL SYSTEM.

In [34]:
stock.to_excel(r'C:\Users\Kirti Bohra\OneDrive\Desktop\Stock Market Analysis\nifty_500_cleaned.xlsx')